{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "jest": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "prefer-template": "error",
    "complexity": ["error", 50],
    "max-len": ["error", {"code": 120}],
    "consistent-return": 2,
    "indent": [1, 2],
    "no-else-return": 1,
    "semi": [1, "always"],
    "space-unary-ops": 2
  }
}
